<div class="todo-list-wrapper">
  <div class="mx-auto col-10">
    <h5>{{'todo-list' | translate}}</h5>
    <hr>

    <div class="mx-auto right">
      <button>Show cards</button>
      <button>Show list</button>
    </div>

    <ul class="list-group mb-3">
      <app-todo-item *ngFor="let todo of todoList" [todoItem]="todo" (todoDelete)="deleteTodo($event)" (todoEdit)="editTodo($event)"></app-todo-item>
    </ul>
  </div>

  <hr>

  <app-add-todo [currentTODO]="currentTODO"></app-add-todo>
</div>

<ng-template #todoItemCard>
  <mat-card class="todo-item-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
