<div class="mx-auto right">
  <button (click)="showCards()">Show cards</button>
  <button (click)="showList()">Show list</button>
</div>
<ng-container *ngIf="typeToShow === 'list'">
  <app-list></app-list>
</ng-container>
<ng-container *ngIf="typeToShow === 'cards'" [ngTemplateOutlet]="todoItemCard">
</ng-container>

<ng-template #todoItemCard>
  <mat-card class="todo-item-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
