<div class="mx-auto col-10">
  <h5>{{'add-todo.headline' | translate}}</h5>
  <hr>

  <div *ngIf="form.submitted && form.invalid" class="alert alert-danger" role="alert">
    {{'invalid-form' | translate}}
  </div>
  <form #form="ngForm" (submit)="save(form)">
    <div class="form-group">
      <label for="todo-title">{{'add-todo.title' | translate}}</label>
      <input type="text" required name="todo-title" [(ngModel)]="currentTODO.title" class="form-control" id="todo-title"
        placeholder="Enter title">
    </div>
    <div class="form-group">
      <label for="todo-description">{{'add-todo.description' | translate}}</label>
      <input type="text" required name="todo-description" [(ngModel)]="currentTODO.description" class="form-control" id="todo-description"
        placeholder="Enter description">
    </div>
    <div class="form-group">
      <label for="todo-due-date">{{'add-todo.due-date' | translate}}</label>
      <input type="date" name="todo-due-date" placeholder="yyyy-mm-dd" [appInvalidDate]="true" class="form-control"
        [(ngModel)]="currentTODO.dueDate" id="todo-due-date" placeholder="Enter due date">
    </div>
    <button type="submit" class="btn btn-primary">{{'add-todo.create' | translate}}</button>
    <div *ngIf="isLoading" class="relative">
      <app-spinner></app-spinner>
    </div>
  </form>
</div>
